nlp2sql数据库查询助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: nlp2sql数据库查询助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.48@966d88dc40611f067311c1c9839139ebc4b55bff471bc5e736dc3e828bc67b46
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1780906506494-llm
      source: '1780906506494'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: answer-source-1780907561498-target
      source: answer
      sourceHandle: source
      target: '1780907561498'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1780907561498-source-1780907652011-target
      source: '1780907561498'
      sourceHandle: source
      target: '1780907652011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: iteration
      id: 1780907652011-source-1780908816457-target
      source: '1780907652011'
      sourceHandle: source
      target: '1780908816457'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1780908816457'
        sourceType: iteration-start
        targetType: code
      id: 1780908816457start-source-1780908851873-target
      source: 1780908816457start
      sourceHandle: source
      target: '1780908851873'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1780908816457'
        sourceType: code
        targetType: tool
      id: 1780908851873-source-1780909197405-target
      source: '1780908851873'
      sourceHandle: source
      target: '1780909197405'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1780908816457-source-1780911800716-target
      source: '1780908816457'
      sourceHandle: source
      target: '1780911800716'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1780911800716-source-1780912042934-target
      source: '1780911800716'
      sourceHandle: source
      target: '1780912042934'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1780912042934-source-1780914558279-target
      source: '1780912042934'
      sourceHandle: source
      target: '1780914558279'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780914558279-source-1780915310630-target
      source: '1780914558279'
      sourceHandle: source
      target: '1780915310630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1780915310630-source-1780915565670-target
      source: '1780915310630'
      sourceHandle: source
      target: '1780915565670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: if-else
      id: 1780915565670-source-1780915838652-target
      source: '1780915565670'
      sourceHandle: source
      target: '1780915838652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1780915838652-69928e99-e94e-43c8-9e48-66ab4b375fef-1780917997573-target
      source: '1780915838652'
      sourceHandle: 69928e99-e94e-43c8-9e48-66ab4b375fef
      target: '1780917997573'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1780915838652-c81f60c6-5db8-43f7-806e-5e4c257bf079-1780918044724-target
      source: '1780915838652'
      sourceHandle: c81f60c6-5db8-43f7-806e-5e4c257bf079
      target: '1780918044724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1780915838652-8983c461-056f-4823-9670-85e97341c508-1780918068182-target
      source: '1780915838652'
      sourceHandle: 8983c461-056f-4823-9670-85e97341c508
      target: '1780918068182'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1780917997573-source-1780918089567-target
      source: '1780917997573'
      sourceHandle: source
      target: '1780918089567'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1780918044724-source-1780918202924-target
      source: '1780918044724'
      sourceHandle: source
      target: '1780918202924'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1780918068182-source-1780918222694-target
      source: '1780918068182'
      sourceHandle: source
      target: '1780918222694'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 72
      id: '1780906506494'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '用户输入：{{#sys.query#}}


            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: b173176e-1cf7-4b25-a336-aa2dfd3b9bbb
          role: system
          text: "## 角色\n你是一个专业的SQL查询生成器，负责根据用户查询创建标准的MySQL数据库SQL语句。\n\n## 任务\n根据以下问题，生成一个格式清晰、结构明确的JSON数组，其中每个元素是一条合法且性能优化的MySQL查询语句。\n\
            \n### 表信息\n表名：student_grades (学生成绩信息表)\n\n### 字段说明\n- id: 主键\n- student_id:\
            \ 学号\n- student_name: 学生姓名\n- class_name: 班级\n- subject: 科目\n- score:\
            \ 分数\n- exam_date: 考试日期\n- semester: 学期\n- grade: 年级\n- created_at: 记录创建时间\n\
            - updated_at: 记录更新时间\n\n### 输出要求\n1. 根据用户的问题，生成最多10条直接关联问题的SQL查询语句。\n\
            2. 每条SQL应从不同分析角度（如按科目、班级、学期、年级等维度）切入，确保覆盖多维统计需求。\n3. 所有SQL必须语法正确、可执行，并注重性能优化（如避免SELECT\
            \ *，合理使用索引字段等）。\n4. 若问题涉及多维统计（例如“各班各科平均分”），请为每个统计维度单独生成子查询。\n5. 对于全量数据查询，必须按semester（学期）进行聚合或排序。\n\
            6. 最终输出必须是纯JSON数组格式，以 ```json 开头，以 \n``` 结尾，不包含任何额外解释或文本，其中每个元素必须是对象，且仅包含一个字段：`\"\
            sql\"` (字符串类型)，格式示例：\n    ```json\n[\n  { \"sql\": \"SELECT ...;\" },\n\
            \  { \"sql\": \"SELECT ...;\" }\n]"
        - id: 1d34d8e4-15d1-41a0-8281-8198ebed4d01
          role: user
          text: 查询学校各科目平均分情况
        - id: e7d55f2c-9122-4506-8760-eb0503ece3be
          role: assistant
          text: "```json\n     [\n     {\n         \"title\": \"统计全校各科目平均分\",\n  \
            \       \"sql\": \"SELECT subject, ROUND(AVG(score), 2) AS avg_score FROM\
            \ student_scores \nGROUP BY subject ORDER BY avg_score DESC;\"\n     },\n\
            \     {\n         \"title\": \"统计各科目及格率\",\n         \"sql\": \"SELECT\
            \ subject, ROUND(COUNT(CASE WHEN score >= 60 THEN 1 END) * 100.0 \n/ COUNT(*),\
            \ 2) as pass_rate FROM student_scores GROUP BY subject ORDER BY pass_rate\
            \ \nDESC;\"\n     },\n     {\n         \"title\": \"统计各科目成绩分布\",\n   \
            \      \"sql\": \"SELECT subject, COUNT(CASE WHEN score >= 90 THEN 1 END)\
            \ as excellent, \nCOUNT(CASE WHEN score >= 75 AND score < 90 THEN 1 END)\
            \ as good, COUNT(CASE WHEN score \n>= 60 AND score < 75 THEN 1 END) as\
            \ pass, COUNT(CASE WHEN score < 60 THEN 1 END) as \nfail FROM student_scores\
            \ GROUP BY subject;\"\n     }\n ]\n```"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '###sql正在生成中

          '
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 99
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "# 导入正则表达式模块，用于字符串模式匹配\nimport re\n# 导入JSON模块，用于处理JSON数据\nimport json\n\
          \n# 定义函数，用于从输入字符串中提取和解析JSON数据，返回字典\ndef main(input_string: str) -> dict:\n\
          \    # 使用正则表达式查找并提取被 ```json 和 ``` 包裹的内容\n    pattern_match = re.search(r'```json\\\
          s*([\\s\\S]*?)\\s*```', input_string)\n    # 如果没有找到匹配的内容\n    if not pattern_match:\n\
          \        raise ValueError(\"输入字符串中未找到有效的 JSON 数据\")\n        \n    # 提取匹配到的JSON字符串，并去除前后空白\n\
          \    json_content = pattern_match.group(1).strip()\n    # 尝试解析JSON字符串\n\
          \    try:\n        # 将提取的JSON字符串解析为Python字典\n        parsed_json = json.loads(json_content)\n\
          \    # 如果解析过程中发生JSON解码错误\n    except json.JSONDecodeError as err:\n    \
          \    raise ValueError(f\"JSON 解析失败: {err}\")\n        \n    # 返回一个包含解析结果的字典\n\
          \    return {\n        \"result\": parsed_json,\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: array[object]
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: input_string
      height: 51
      id: '1780907561498'
      position:
        x: 1047
        y: 286
      positionAbsolute:
        x: 1047
        y: 286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '###sql生成完毕

          '
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 99
      id: '1780907652011'
      position:
        x: 1366
        y: 284
      positionAbsolute:
        x: 1366
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        error_handle_mode: remove-abnormal-output
        flatten_output: true
        height: 276
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1780907561498'
        - result
        output_selector:
        - '1780909197405'
        - json
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1780908816457start
        title: 迭代
        type: iteration
        width: 686
      height: 276
      id: '1780908816457'
      position:
        x: 1751
        y: 274.5
      positionAbsolute:
        x: 1751
        y: 274.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 686
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1780908816457start
      parentId: '1780908816457'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1775
        y: 342.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "def main(args: dict) -> dict:\n    # 提取输入字典的字段\n    title = args.get(\"\
          title\", \"\")\n    sql = args.get(\"sql\", \"\")\n\n    # 返回包含 title 和\
          \ sql 的字典\n    return {\n        \"title\": title,\n        \"sql\": sql\n\
          \    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1780908816457'
        outputs:
          sql:
            children: null
            type: string
          title:
            children: null
            type: string
        selected: false
        title: '迭代代码执行 '
        type: code
        variables:
        - value_selector:
          - '1780908816457'
          - item
          value_type: object
          variable: args
      height: 51
      id: '1780908851873'
      parentId: '1780908816457'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 1879
        y: 342.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1780908816457'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The SQL query string.
            ja_JP: The SQL query string.
            pt_BR: The SQL query string.
            zh_Hans: SQL 查询语句。
          label:
            en_US: SQL Query
            ja_JP: SQL Query
            pt_BR: SQL Query
            zh_Hans: SQL 查询语句
          llm_description: The SQL query string.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            ja_JP: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            pt_BR: Optional, Filling in this field will overwrite the database connection
              entered during authorization.
            zh_Hans: 选填，填写后将覆盖授权时填写的数据库连接。
          label:
            en_US: DB URI
            ja_JP: DB URI
            pt_BR: DB URI
            zh_Hans: DB URI
          llm_description: ''
          max: null
          min: null
          name: db_uri
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: json
          form: form
          human_description:
            en_US: Choose the output format.
            ja_JP: Choose the output format.
            pt_BR: Choose the output format.
            zh_Hans: 选择输出格式。
          label:
            en_US: Output format
            ja_JP: Output format
            pt_BR: Output format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: format
          options:
          - icon: ''
            label:
              en_US: JSON
              ja_JP: JSON
              pt_BR: JSON
              zh_Hans: JSON
            value: json
          - icon: ''
            label:
              en_US: CSV
              ja_JP: CSV
              pt_BR: CSV
              zh_Hans: CSV
            value: csv
          - icon: ''
            label:
              en_US: YAML
              ja_JP: YAML
              pt_BR: YAML
              zh_Hans: YAML
            value: yaml
          - icon: ''
            label:
              en_US: Markdown
              ja_JP: Markdown
              pt_BR: Markdown
              zh_Hans: Markdown
            value: md
          - icon: ''
            label:
              en_US: Excel
              ja_JP: Excel
              pt_BR: Excel
              zh_Hans: Excel
            value: xlsx
          - icon: ''
            label:
              en_US: HTML
              ja_JP: HTML
              pt_BR: HTML
              zh_Hans: HTML
            value: html
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            ja_JP: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            pt_BR: 'Optional. For example {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              More connection options can be found at https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
            zh_Hans: '选填项。例如 {"connect_args": {"ssl": {"ca": "/path/to/ca.pem"}}}

              更多连接选项可参考 https://docs.sqlalchemy.org/en/20/core/engines.html#sqlalchemy.create_engine

              '
          label:
            en_US: DB Config Options
            ja_JP: DB Config Options
            pt_BR: DB Config Options
            zh_Hans: 数据库连接配置选项
          llm_description: ''
          max: null
          min: null
          name: config_options
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          config_options: ''
          db_uri: ''
          format: ''
          query: ''
        plugin_id: hjlarry/database
        plugin_unique_identifier: hjlarry/database:0.0.6@534bc26cf5bc4ff6b5557457452287ccc71f00eef9378784c4f43ca49954ca2f
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=22ce28a4-eef4-4569-b4e9-0d6e8c717376&filename=65d2d7404efb4952bb715a35ae79ccce92e70b820fd6cdb74e9acc58a505f7cf.svg
        provider_id: hjlarry/database/database
        provider_name: hjlarry/database/database
        provider_type: builtin
        selected: false
        title: SQL Execute
        tool_configurations:
          config_options:
            type: mixed
            value: null
          format:
            type: constant
            value: json
        tool_description: 此工具用于在已存在的数据库中执行 SQL 查询。
        tool_label: SQL Execute
        tool_name: sql_execute
        tool_node_version: '2'
        tool_parameters:
          db_uri:
            type: mixed
            value: ''
          query:
            type: mixed
            value: '{{#1780908851873.sql#}}'
        type: tool
      height: 113
      id: '1780909197405'
      parentId: '1780908816457'
      position:
        x: 429
        y: 68
      positionAbsolute:
        x: 2180
        y: 342.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(args) -> dict:\n    return {\n        \"result\": \"\".join(str(item)\
          \ for item in args)\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 迭代结果
        type: code
        variables:
        - value_selector:
          - '1780908816457'
          - output
          value_type: array[object]
          variable: args
      height: 51
      id: '1780911800716'
      position:
        x: 2545.90292995715
        y: 329.41784071602603
      positionAbsolute:
        x: 2545.90292995715
        y: 329.41784071602603
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '###sql执行完毕，正在汇总中

          '
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 99
      id: '1780912042934'
      position:
        x: 2942.2971142202273
        y: 325.34746563224627
      positionAbsolute:
        x: 2942.2971142202273
        y: 325.34746563224627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1780911800716'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 7cb8e8f2-3fe7-46a4-8b25-a94ad75d22ec
          role: system
          text: "### 角色\n你是一个数据分析师，需要基于前一个模型生成的SQL语句及其执行结果，优先针对用户问题进行回答，确保回答内容紧扣主题不发散，同时对相关维度的数据进行分析，并以JSON格式输出给用户。\n\
            \n### 参数\n- **用户输入**: {{#sys.query#}}\n- **SQL 模型生成**: {{#llm.text#}}\n\
            - **SQL 查询结果**: {{#context#}}\n\n### 图表使用场景\n- 线性图: 适用于展示趋势变化的数据，例如时间序列数据（如每月或每年的变化趋势）。\n\
            - 柱状图: 适用于比较不同类别之间的数量或占比，例如各城市的占比情况。\n- 饼状图: 适用于展示整体组成部分及其比例，通常用于单维度的比例分布。\n\
            \n### 要求:\n1. 优先回答用户问题，确保回答内容紧扣主题不发散。\n2. 根据用户问题选择合适的线性图、柱状图或饼状图。\n3.\
            \ 将输出内容封装到JSON中，格式如下：\n```json\n{\n  \"results\": \"用Markdown格式先回复用户问题，其他维度数据简单概括，但必须完整展示数据\"\
            ,\n  \"ECharts\": \"1\", // 如果需要生成图表，则为 \"1\"；否则为 \"0\"\n  \"chartType\"\
            : \"线性图/柱状图/饼状图\", // 图表类型（仅当 ECharts 为 \"1\" 时提供）\n  \"chartTitle\":\
            \ \"图表标题\", // 图表标题（仅当 ECharts 为 \"1\" 时提供）\n  \"chartData\": \"图表的数据，多个用;隔开\"\
            , // 图表数据（仅当 ECharts 为 \"1\" 时提供）\n  \"chartXAxis\": \"图表的x轴，多个用;隔开\"\
            , // 图表的x轴数据（仅当 ECharts 为 \"1\" 时提供）\n  \n  \"注意事项\": [\n    \"如果查询结果适合生成图表，则将\
            \ ECharts 设置为 '1'，并补充 chartType、chartTitle、chartData 和 chartXAxis 字段。\"\
            ,\n    \"如果查询结果不适合生成图表，则将 ECharts 设置为 '0'，并省略 chartType、chartTitle、chartData\
            \ 和 chartXAxis 字段。\",\n    \"对于占比查询，必须使用饼状图进行展示，且在饼状图的 chartData 中返回百分比值。\"\
            \n  ]\n}\n```"
        selected: false
        title: LLM 汇总结果
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1780914558279'
      position:
        x: 3291.2971142202273
        y: 326.84746563224627
      positionAbsolute:
        x: 3291.2971142202273
        y: 326.84746563224627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\nimport json\n\ndef main(args: str) -> dict:\n    # 默认返回值\n\
          \    default_output = {\n        \"results\": \"\",\n        \"ECharts\"\
          : \"0\",\n        \"chartType\": \"\",\n        \"chartTitle\": \"\",\n\
          \        \"chartData\": \"\",\n        \"chartXAxis\": \"\"\n    }\n   \
          \ \n    try:\n        match = re.search(r'```json\\s*([\\s\\S]*?)\\s*```',\
          \ args)\n        if not match:\n            raise ValueError(\"输入字符串中未找到有效的\
          \ JSON 数据\")\n            \n        # 提取 JSON 字符串\n        json_str = match.group(1).strip()\n\
          \        \n        # 将 JSON 字符串解析为 Python 字典\n        results_dict = json.loads(json_str)\n\
          \    except Exception as e:\n        # 如果解析失败，打印错误信息并返回默认输出\n        print(f\"\
          解析失败: {e}\")\n        return default_output\n        \n    # 检查是否包含 ECharts\
          \ 字段\n    if \"ECharts\" not in results_dict:\n        results_dict[\"ECharts\"\
          ] = \"0\"  # 默认设置为 \"0\"\n        \n    # 根据 ECharts 的值动态检查图表相关字段\n    if\
          \ results_dict[\"ECharts\"] == \"1\":\n        required_chart_fields = [\"\
          chartType\", \"chartTitle\", \"chartData\", \"chartXAxis\"]\n        for\
          \ field in required_chart_fields:\n            if field not in results_dict:\n\
          \                results_dict[field] = \"\"  # 自动补全缺失字段为空字符串\n         \
          \       \n    # 构造返回值\n    return {\n        \"results\": str(results_dict.get(\"\
          results\", \"\")),\n        \"ECharts\": str(results_dict.get(\"ECharts\"\
          , \"0\")),\n        \"chartType\": str(results_dict.get(\"chartType\", \"\
          \")),\n        \"chartTitle\": str(results_dict.get(\"chartTitle\", \"\"\
          )),\n        \"chartData\": str(results_dict.get(\"chartData\", \"\")),\n\
          \        \"chartXAxis\": str(results_dict.get(\"chartXAxis\", \"\"))\n \
          \   }"
        code_language: python3
        outputs:
          ECharts:
            children: null
            type: string
          chartData:
            children: null
            type: string
          chartTitle:
            children: null
            type: string
          chartType:
            children: null
            type: string
          chartXAxis:
            children: null
            type: string
          results:
            children: null
            type: string
        selected: false
        title: 代码执行 生成Echarts参数
        type: code
        variables:
        - value_selector:
          - '1780914558279'
          - text
          value_type: string
          variable: args
      height: 51
      id: '1780915310630'
      position:
        x: 3624.5797001576807
        y: 344.84746563224627
      positionAbsolute:
        x: 3624.5797001576807
        y: 344.84746563224627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '生成ECharts结果{{#1780915310630.results#}}


          '
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 118
      id: '1780915565670'
      position:
        x: 3949.5797001576807
        y: 325.84746563224627
      positionAbsolute:
        x: 3949.5797001576807
        y: 325.84746563224627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 35c04b12-48e6-4c5c-96c0-a7175da83636
            value: '0'
            varType: string
            variable_selector:
            - '1780915310630'
            - ECharts
          id: 'true'
          logical_operator: and
        - case_id: 69928e99-e94e-43c8-9e48-66ab4b375fef
          conditions:
          - comparison_operator: contains
            id: d468161a-b1f6-459d-b986-1b168416b2e2
            value: 线性图
            varType: string
            variable_selector:
            - '1780915310630'
            - chartType
          id: 69928e99-e94e-43c8-9e48-66ab4b375fef
          logical_operator: and
        - case_id: c81f60c6-5db8-43f7-806e-5e4c257bf079
          conditions:
          - comparison_operator: contains
            id: d499842b-e5ae-46a7-a7f9-085076710ff2
            value: 柱状图
            varType: string
            variable_selector:
            - '1780915310630'
            - chartType
          logical_operator: and
        - case_id: 8983c461-056f-4823-9670-85e97341c508
          conditions:
          - comparison_operator: contains
            id: f3ee57f9-f745-4ad4-8794-ebb7a34e32d7
            value: 饼状图
            varType: string
            variable_selector:
            - '1780915310630'
            - chartType
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 339
      id: '1780915838652'
      position:
        x: 4304.62816468055
        y: 332.4936331593612
      positionAbsolute:
        x: 4304.62816468055
        y: 332.4936331593612
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成线性图表的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating linear chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 线性图表的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for linear chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=22ce28a4-eef4-4569-b4e9-0d6e8c717376&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 线性图表
        tool_configurations: {}
        tool_description: 线性图表
        tool_label: 线性图表
        tool_name: line_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1780915310630.chartData#}}'
          title:
            type: mixed
            value: '{{#1780915310630.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1780915310630.chartXAxis#}}'
        type: tool
      height: 51
      id: '1780917997573'
      position:
        x: 4744.835391736274
        y: 439.80666449115625
      positionAbsolute:
        x: 4744.835391736274
        y: 439.80666449115625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成柱状图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating bar chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: X axis for chart, each text should be separated by ";"
            ja_JP: X axis for chart, each text should be separated by ";"
            pt_BR: X axis for chart, each text should be separated by ";"
            zh_Hans: 柱状图的 x 轴，每个文本之间用 ";" 分隔
          label:
            en_US: X Axis
            ja_JP: X Axis
            pt_BR: X Axis
            zh_Hans: x 轴
          llm_description: x axis for bar chart, x axis should be a string contains
            a list of texts like "a;b;c;1;2" in order to match the data
          max: null
          min: null
          name: x_axis
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          title: ''
          x_axis: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=22ce28a4-eef4-4569-b4e9-0d6e8c717376&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 柱状图
        tool_configurations: {}
        tool_description: 柱状图
        tool_label: 柱状图
        tool_name: bar_chart
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{{#1780915310630.chartData#}}'
          title:
            type: mixed
            value: '{{#1780915310630.chartTitle#}}'
          x_axis:
            type: mixed
            value: '{{#1780915310630.chartXAxis#}}'
        type: tool
      height: 51
      id: '1780918044724'
      position:
        x: 4741.835391736274
        y: 535.8066644911563
      positionAbsolute:
        x: 4741.835391736274
        y: 535.8066644911563
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: chart title
            ja_JP: chart title
            pt_BR: chart title
            zh_Hans: 图表的标题
          label:
            en_US: title
            ja_JP: title
            pt_BR: title
            zh_Hans: 标题
          llm_description: chart title
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: data for generating chart, each number should be separated by ";"
            ja_JP: data for generating chart, each number should be separated by ";"
            pt_BR: data for generating chart, each number should be separated by ";"
            zh_Hans: 用于生成饼图的数据，每个数字之间用 ";" 分隔
          label:
            en_US: data
            ja_JP: data
            pt_BR: data
            zh_Hans: 数据
          llm_description: data for generating pie chart, data should be a string
            contains a list of numbers like "1;2;3;4;5"
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Categories for chart, each category should be separated by ";"
            ja_JP: Categories for chart, each category should be separated by ";"
            pt_BR: Categories for chart, each category should be separated by ";"
            zh_Hans: 饼图的分类，每个分类之间用 ";" 分隔
          label:
            en_US: Categories
            ja_JP: Categories
            pt_BR: Categories
            zh_Hans: 分类
          llm_description: categories for pie chart, categories should be a string
            contains a list of texts like "a;b;c;1;2" in order to match the data,
            each category should be split by ";"
          max: null
          min: null
          name: categories
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          categories: ''
          data: ''
          title: ''
        plugin_id: langgenius/echarts
        plugin_unique_identifier: langgenius/echarts:0.0.7@1a9050c16b63a1c82bd1632c00fa495af4d8854d25fb7d465d47775e1b798eff
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=22ce28a4-eef4-4569-b4e9-0d6e8c717376&filename=6502fc86791e68061d3ecf90357e15ab15189436fd63ff1bc2e08966dddbe4f3.svg
        provider_id: langgenius/echarts/echarts
        provider_name: langgenius/echarts/echarts
        provider_type: builtin
        selected: false
        title: 饼图
        tool_configurations: {}
        tool_description: 饼图
        tool_label: 饼图
        tool_name: pie_chart
        tool_node_version: '2'
        tool_parameters:
          categories:
            type: mixed
            value: '{{#1780915310630.chartXAxis#}}'
          data:
            type: mixed
            value: '{{#1780915310630.chartData#}}'
          title:
            type: mixed
            value: '{{#1780915310630.chartTitle#}}'
        type: tool
      height: 51
      id: '1780918068182'
      position:
        x: 4742.835391736274
        y: 639.8066644911563
      positionAbsolute:
        x: 4742.835391736274
        y: 639.8066644911563
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '----------

          {{#1780917997573.text#}}

          '
        selected: false
        title: '线性图回复 '
        type: answer
        variables: []
      height: 102
      id: '1780918089567'
      position:
        x: 5120.5584605296135
        y: 439.80666449115625
      positionAbsolute:
        x: 5120.5584605296135
        y: 439.80666449115625
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '----------

          {{#1780918044724.text#}}'
        selected: false
        title: '线性图回复 '
        type: answer
        variables: []
      height: 102
      id: '1780918202924'
      position:
        x: 5119.528503022638
        y: 555.9742117371843
      positionAbsolute:
        x: 5119.528503022638
        y: 555.9742117371843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '----------

          {{#1780918068182.text#}}'
        selected: false
        title: '饼状图回复 '
        type: answer
        variables: []
      height: 102
      id: '1780918222694'
      position:
        x: 5116.528503022638
        y: 680.9742117371843
      positionAbsolute:
        x: 5116.528503022638
        y: 680.9742117371843
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 452.19547631550427
      y: 85.45290154592792
      zoom: 0.9999999999999999
  rag_pipeline_variables: []
